* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://i.gifer.com/J4o.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container {
    perspective: 1000px;
}

.flip-card {
    width: 300px;
    height: 400px;
}

.flip-card-front h2,
.flip-card-back h2 {
    font-size: 1.8em; 
    margin-bottom: 20px;
    color: white    ; 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #fff;
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.input-icon {
    position: relative;
    margin-bottom: 10px;
}

.input-icon input {
    width: 100%;
    padding: 10px 10px 10px 35px; 
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
}

.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: opacity 0.2s ease;
}


.input-icon input:focus::placeholder,
.input-icon input:not(:placeholder-shown)::placeholder,
.input-icon input:focus + i,
.input-icon input:not(:placeholder-shown) + i {
    opacity: 0;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

